name: docker build and publish

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:     
  docker_build_and_publish:
    needs: [CI]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: build docker image
        run: docker build -t migsking/onion-hackaton .

      - name: publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: migsking/onion-hackaton
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
